body {
    display: flex;
    flex-direction: column;
}

header {
    background: #fff;
    height: 50px;
    padding: 20px;
}
main {
    background:
    flex:1;
    display: flex;
    padding: 20px;
}
.col-1 {

}
.col-2 {

}
.col-3 {

}
.search {

}
.flex-1 {

}
.flex-2 {

}
.main-nav {

}
